<ion-view title='家政服务超市'>
  <!--中间内容区-->
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button"  menu-close nav-transition="ios" nav-direction="enter">家政服务超市</a>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="bg-gray xn-content">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval=3000 show-pager="true">
      <ion-slide>
        <img src="./img/xn/first/lash1.jpg" class="img-responsive">
      </ion-slide>
      <ion-slide>
        <img src="./img/xn/first/slash2.jpg" class="img-responsive">
      </ion-slide>
      <ion-slide>
        <img src="./img/xn/first/slash3.jpg" class="img-responsive">
      </ion-slide>
    </ion-slide-box>

    <div class="list">
        <div class='item_box item gap-10 item-padding-10'>
          <h3 class="gap-10">
            <img style="width: 25px" class="img_icon" src="./img/xn/govern/gover_rukou.png" alt="">
              <span>政府入口</span>
          </h3>
          <div class="row row-wrap">
            <div class='col col-25'>
              <span class='icon_box icon_bg'>
                <img src="./img/xn/govern/renshe.png" alt="">
              </span>
              <h4 >人社局</h4>
            </div>
            <div class='col col-25'>
              <span class='icon_box icon_bg'>
                <img src="./img/xn/govern/shangwu.png" alt="">
              </span>
              <h4 >商务局</h4>
            </div>
            <div class='col col-25'>
              <span class='icon_box icon_bg'>
              <img src="./img/xn/govern/gonghui.png" alt="">
              </span>
              <h4 >总工会</h4>
            </div>
            <div class='col col-25'>
              <span class='icon_box icon_bg'>
                 <img src="./img/xn/govern/icon_fulian.png" alt="">
              </span>
              <h4 >妇联</h4>
            </div>
            <div class='col col-25'>
              <span class='icon_box icon_bg'>
                 <img src="./img/xn/govern/fuping.png" alt="">
              </span>
              <h4 >扶贫办</h4>
            </div>
            <div class='col col-25'>
              <span class='icon_box icon_bg'>
                 <img src="./img/xn/govern/mingzheng.png" alt="">
              </span>
              <h4 >民政局</h4>
            </div>
            <div class='col col-25'>
              <span class='icon_box icon_bg'>
                 <img src="./img/xn/first/qiang.png" alt="">
              </span>
              <h4 >预留</h4>
            </div>
            <div class='col col-25'>
              <span class='icon_box icon_bg'>
                 <img src="./img/xn/govern/more.png" alt="">
              </span>
              <h4 >更多</h4>
            </div>
          </div>
        </div>
        
      <div class='item_box  item padding-none gap-10'>
        <h3 class="border-btm-1  pa-btm-5 pa-left-10 pa-top-5">
            <img style="width: 25px" class="img_icon" src="./img/xn/govern/peixun.png" alt="">
              <span>培训报名</span>
        </h3>
        <div class="row row-wrap train-box pa-top-5 pa-left-10">
          <div class='col col-50'>
            <div class="row">
              <div class="col col-25">
                <img style="width: 100%" src="./img/xn/govern/putonghua.png" alt="">
              </div>
              <div class="col col-75 pa-top-5">
                <h4>精准扶贫培训</h4>
                <span>报名入口</span>
              </div>
            </div>
          </div>
           <div class='col col-50'>
            <div class="row">
              <div class="col col-25">
                <img style="width: 100%" src="./img/xn/govern/qiyezixun.png" alt="">
              </div>
              <div class="col col-75 pa-top-5">
                <h4>企业咨询管理</h4>
                <span>报名入口</span>
              </div>
            </div>
          </div>
          <div class='col col-50'>
            <div class="row">
              <div class="col col-25">
                <img style="width: 100%" src="./img/xn/govern/liyi.png" alt="">
              </div>
              <div class="col col-75 pa-top-5">
                <h4>礼仪服务培训</h4>
                <span>报名入口</span>
              </div>
            </div>
          </div>
           <div class='col col-50'>
            <div class="row">
              <div class="col col-25">
                <img style="width: 100%" src="./img/xn/govern/yuangong.png" alt="">
              </div>
              <div class="col col-75 pa-top-5">
                <h4>员工岗前培训</h4>
                <span>报名入口</span>
              </div>
            </div>
          </div>
          <div class='col col-50'>
            <div class="row">
              <div class="col col-25">
                <img style="width: 100%" src="./img/xn/govern/yingxiao.png" alt="">
              </div>
              <div class="col col-75 pa-top-5">
                <h4>营销策划培训</h4>
                <span>报名入口</span>
              </div>
            </div>
          </div>
           <div class='col col-50'>
            <div class="row">
              <div class="col col-25">
                <img style="width: 100%" src="./img/xn/govern/xunlian.png" alt="">
              </div>
              <div class="col col-75 pa-top-5">
                <h4>拓展训练培训</h4>
                <span>报名入口</span>
              </div>
            </div>
          </div>
          <div class='col col-50'>
            <div class="row">
              <div class="col col-25">
                <img style="width: 100%" src="./img/xn/govern/shufa.png" alt="">
              </div>
              <div class="col col-75 pa-top-5">
                <h4>书法培训</h4>
                <span>报名入口</span>
              </div>
            </div>
          </div>
          <div class='col col-50'>
            <div class="row">
              <div class="col col-25">
                <img style="width: 100%" src="./img/xn/govern/putonghua.png" alt="">
              </div>
              <div class="col col-75 pa-top-5">
                <h4>普通话培训</h4>
                <span>报名入口</span>
              </div>
            </div>
          </div>
           <div class='col col-50'>
            <div class="row">
              <div class="col col-25">
                <img style="width: 100%" src="./img/xn/govern/yanjing.png" alt="">
              </div>
              <div class="col col-75 pa-top-5">
                <h4>演讲培训</h4>
                <span>报名入口</span>
              </div>
            </div>
          </div>
           <div class='col col-50'>
            <div class="row">
              <div class="col col-25">
                <img style="width: 100%" src="./img/xn/govern/morem.png" alt="">
              </div>
              <div class="col col-75 pa-top-5">
                <h4>更多</h4>
                <span>报名入口</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
  </ion-content>

</ion-view>