<!--<div style='padding-left: 1px' class={{vm.cssClass}}>
    <i class={{vm.iconClass}}></i>
    <span class={{options.titleCss}}>{{vm.title}}{{options.titleCss?'(必选)':''}}</span>
    <span class='item-note input-ionic'> 
        <span>{{vm.areaData}}</span>
    </span>
  <i class='icon ion-ios-arrow-right text-gray1'></i>
</div>-->
<li class={{vm.cssClass}}>
    <i class={{vm.iconClass}}></i>
    {{vm.title}}
    <span class="pull-right text-gray">{{vm.areaData}}</span>
    <i class="icon ion-ios-arrow-right"></i>
</li>
