<ion-view>
  <!--中间内容区-->
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button" nav-transition="ios" nav-direction="enter">家政服务超市</a>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="bg-gray xn-content">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="vm.doRefresh()">
    </ion-refresher>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval=3000 show-pager="true">
      <ion-slide>
        <img src="./img/xn/first/lash1.png" class="img-responsive">
      </ion-slide>
      <ion-slide>
        <img src="./img/xn/first/slash2.png" class="img-responsive">
      </ion-slide>
      <ion-slide>
        <img src="./img/xn/first/slash3.png" class="img-responsive">
      </ion-slide>
    </ion-slide-box>
    <!--
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="请输入你要查询的产品">
      </label>
    </div>-->
    <div class="list">


      <div class='item_box item  padding-none'>
        <div class="row row-wrap xn-first">
          <div class='col col-20 ' ui-sref='tab.homeWork'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/jiazhengfw.png" alt="">
            </span>
            <h4>家政服务</h4>
          </div>
          <div class='col col-20 ' ui-sref='tab.workxun'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/peixun.png" alt="">
            </span>
            <h4>培训服务</h4>
          </div>
          <div class='col col-20 ' ui-sref='tab.industryUser'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/kehu.png" alt="">
            </span>
            <h4>行业客户</h4>
          </div>
          <div class='col col-20 ' ui-sref='tab.recruitment'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/zhaopin.png" alt="">
            </span>
            <h4>招贤纳士</h4>
          </div>
          <div class='col col-20 ' ui-sref='tab.shoppingMall'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/shopping.png" alt="">
            </span>
            <h4>购物商城</h4>
          </div>
          <!-- <div class='col col-33 border-bot-first' ui-sref='tab.condition({id:"ss"})'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/more-l.png" alt="">
            </span>
            <h4>公司动态</h4>
          </div> -->
        </div>
        <div class="row border-top-1 item-padding-10 position-par">
          <i class="icon position-son ion-ios-volume-high fixd-car-xy text-orange tada animated infinite"></i>
          <span class="col col-25 text-right pa-right-10" ui-sref='tab.condition({id:"ss"})'> 公司动态</span>
          <i class="border-right-1"></i>
          <span class="col pa-left-10">5月1日正式运营上线!</span>
        </div>
      </div>

      <!-- <div class='item_box item gap-10 padding-none'>
        <div class="row row-wrap xn-first">
          <div class='col col-33 border-bot-right' ui-sref='tab.homeWork'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/jiazhengfw.png" alt="">
            </span>
            <h4>家政服务</h4>
          </div>
          <div class='col col-33 border-bot-right' ui-sref='tab.workxun'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/peixun.png" alt="">
            </span>
            <h4>培训服务</h4>
          </div>
          <div class='col col-33 border-bot-first' ui-sref='tab.industryUser'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/kehu.png" alt="">
            </span>
            <h4>行业客户</h4>
          </div>
          <div class='col col-33 border-bot-right' ui-sref='tab.recruitment'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/zhaopin.png" alt="">
            </span>
            <h4>招贤纳士</h4>
          </div>
          <div class='col col-33 border-bot-right' ui-sref='tab.shoppingMall'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/shopping.png" alt="">
            </span>
            <h4>购物商城</h4>
          </div>
          <div class='col col-33 border-bot-first' ui-sref='tab.condition({id:"ss"})'>
            <span class='icon_box icon_bg'>
              <img src="./img/xn/first/more-l.png" alt="">
            </span>
            <h4>公司动态</h4>
          </div>
        </div>
      </div> -->

      <div class='item_box item gap-10  item-padding-none first-bottom pa-btm-5'>
        <h3 class='pa-left-10 pa-top-5'>
          <img style="width: 16px" class="img_icon" src="./img/xn/first/host.png" alt="">
          <span>热门推荐</span>
        </h3>
        <div class="row row-wrap">
          <div class='col col-33 padding-6' ui-sref='tab.shoppingMore({id:57})'>
            <div style="width: 100%" class="border-rad-5">
              <img style="width: 100%" class="border-rad-5" src="./img/xn/first/qingjie.png" alt="">
            </div>
            <h4>清洁用品</h4>
          </div>
          <div class='col col-33 padding-6' ui-sref='tab.shoppingMore({id:56})'>
            <div style="width: 100%" class="  border-rad-5">
              <img style="width: 100%" class="border-rad-5" src="./img/xn/first/guizhou.png" alt="">
            </div>
            <h4>贵州特产</h4>
          </div>

          <div class='col col-33 padding-6' ui-sref='tab.workxun'>
            <div style="width: 100%" class="  border-rad-5">
              <img style="width: 100%" class="border-rad-5" src="./img/xn/first/pwixun-banner.png" alt="">
            </div>
            <h4>培训服务</h4>
          </div>

          <!-- <div class='col col-50'>
            <div style="width: 100%" class="pa-left-5" ui-sref='tab.recruitment'>
              <img style="width: 100%" src="./img/xn/first/renli.jpg" alt="">
            </div>
            <h4>人力资源</h4>
          </div> -->
        </div>
      </div>
      <div class='item_box item gap-10  item-padding-none first-bottom pa-btm-5' ng-if='vm.list.length>0'>
          <h3 class='pa-left-10 pa-top-5'>
            <img style="width: 20px" class="img_icon" src="./img/xn/first/jinpin.png" alt="">
            <span>精品推荐</span>
          </h3>
          <div class="row row-wrap" >
            <div class='col col-50' ng-repeat="i in vm.list track by $index" ui-sref='tab.shoppDetail({id:i.goods_id})' >
              <div style="width: 100%" class="padding-10 bg-img " ng-class='{"border-right-ff":$index%2==0,"border-left-ff":$index%2==1}'>
                <!-- <img style="width: 100%" class="border-rad-5" ng-src="{{imgUrl + i.goods_s_logo}}" alt=""> -->
                <img style="width: 100%" class="border-rad-5" src="http://www.zgxnjz.cn./Goodsimgs/2018-03-14/s_5aa892b7a8c7e.jpg" alt="">
              </div>
              <div class="padding-10 ">
                  <h3>{{i.goods_name}}</h3>
                  <p>{{i.goods_introduce}}</p>
                  <span class="text-red">￥{{i.goods_price}}</span>
              </div>
              
            </div>
           
          </div>
        </div>




      <!-- <div class="list pos-father  gap-10 " ng-if='vm.list.length>0'>
        <h3 class='pa-left-10 pa-top-5'>
          <img style="width: 25px" class="img_icon" src="./img/xn/first/host.png" alt="">
          <span>精品推荐</span>
        </h3>
        <a class="item gap-10 item-thumbnail-left item-icon-right" ng-repeat="i in vm.list track by $index" ui-sref='tab.shoppDetail({id:i.goods_id})'>
          <img ng-src="{{imgUrl + i.goods_s_logo}}">

          <h4>名称：
            <span>{{i.goods_name}}</span>
          </h4>
          <h4>价格：
            <span>￥{{i.goods_price}}</span>
          </h4>
          <p class="text-line-2">详情:{{i.goods_introduce}}</p>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
       
      </div> -->

    </div>
    <ion-infinite-scroll ng-if="vm.dele.hasMore" immediate-check="false" icon="ion-loading-c" on-infinite="vm.loadMore()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>