<ion-view hide-tabs="true">
  <!--中间内容区-->
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button">行业客户</a>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="bg-gray xn-content has-" ng-init='vm.init()'>
    <div class="row responsive-sm">
      <div class="col" style="margin-bottom:0px" ng-repeat="i in vm.dele.list">
        <img class='img_box' ng-src="{{imgUrl+ i.bct_simg}}" alt="./img/xn/first/user/hangye_05.jpg"></div>
      
    </div>
  </ion-content>