<ion-view hide-tabs="true" ng-init='vm.getAppraise()'>
  <!--中间内容区vm.getAppraise()-->
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button">{{vm.query.cat_id | orderName}}</a>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="bg-gray xn-content">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="vm.doRefresh()">
    </ion-refresher>
   
    <!--<div ng-if='vm.order.kong&&vm.order.userList.length==0' style="height:200px;line-height:200px"> 
      没有数据
    </div>-->
    <div class="list pos-father" ng-if='vm.order.userList.length>0'>
      <a class="item gap-10 item-thumbnail-left item-icon-right" ng-repeat="i in vm.order.userList track by $index"
       ui-sref='tab.shoppDetail({id:i.goods_id})'>
        <img ng-src="{{imgUrl + i.goods_s_logo}}">
        <h4>名称：<span>{{i.goods_name}}</span></h4>
        <h4>价格：<span>￥{{i.goods_price}}</span></h4>
        <p class="text-line-2">详情:{{i.goods_introduce}}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
       <button ng-if='!vm.query.hasMore' class="button button-clear button-stable login-text text-center pos-bot-40">
        {{vm.query.hasMore?'上拉加载更多':"没有更多了..."}}
      </button>
    </div>
   
    <ion-infinite-scroll ng-if="vm.query.hasMore" immediate-check="false" icon="ion-loading-c" on-infinite="vm.loadMore()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>