<ion-view hide-tabs="true">
  <!--顶部导航-->
  <ion-nav-title>
    <div class="bar bar-positive">
      <h1 class="title">我的反馈</h1>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="right" >
      <!--<i class="icon-size ion-plus-round" ui-sref="rsc.common_publish_type"></i>-->
      <span ui-sref='tab.feedback'>新增&nbsp&nbsp</span>
  </ion-nav-buttons>
  <!--内容区域-->
  <ion-content class="bg-gray">
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="vm.doRefresh()">
    </ion-refresher>
     <div>
        <h4 class="text-center gap-30" style="padding-bottom:30px">
          当前暂无历史反馈
        </h4>
      </div>
    <div class="list">
      <div class='item_box item gap-10 padding-none first-bottom pa-btm-5'>
        <h3 class='pa-left-10 pa-top-5'>
          <span>用户评价还打算打打哈实打实打算打算</span>
          <span class="pull-right">处理中.. &nbsp&nbsp&nbsp</span>
        </h3>
      </div>
      <a class="item item-avatar">
        <p style="white-space: normal">ajdjasdjasidasjdasdjasjdasjdasj</p>
        <p class="text-right">时间：1221211</p>
      </a>
    </div>

     <div class="list">
      <div class='item_box item gap-10 padding-none first-bottom pa-btm-5'>
        <h3 class='pa-left-10 pa-top-5'>
          <span>用户评价阿基啊实打实大师</span>
          <span class="pull-right">处理中.. &nbsp&nbsp&nbsp</span>
        </h3>
      </div>
      <a class="item item-avatar">
        <p style="white-space: normal">ajdjasdjasidasjdasdjasjdasjdasj</p>
        <p class="text-right">时间：1221211</p>
      </a>
    </div>
    <ion-infinite-scroll ng-if="vm.query.has_more" immediate-check="false" icon="ion-loading-c" on-infinite="vm.load_more()"
                distance="1%"></ion-infinite-scroll>

  </ion-content>
</ion-view>