<ion-view hide-tabs="true" hide-back-button='true'>
    <!--顶部导航-->
    <ion-nav-title>
        <div class="bar bar-positive">
            <h1 class="title">我的订单</h1>
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <i class="icon ion-ios-arrow-back" menu-close nav-transition="ios" nav-direction="back" ui-sref='tab.xnMy({ reload: true})'></i>
        <span class="default-title" menu-close nav-transition="ios" nav-direction="back" ui-sref='tab.xnMy({ reload: true})'>返回</span>
    </ion-nav-buttons>
    <!--内容区域-->
    <ion-content class="bg-gray">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
        </ion-refresher>
        <!--顶部三级导航-->
        <ul class="row third-bar text-center my-order">
            <li nav-transition="ios" nav-direction="enter" ui-sref-active="active" ui-sref="tab.order({status:'all'})" class="col active">全部订单 {{planCount}} </li>
            <li nav-transition="ios" nav-direction="enter" ui-sref-active="active" ui-sref="tab.order({status:'1'})" class="col active">待付款 {{procCount}} </li>
            <li nav-transition="ios" nav-direction="enter" ui-sref-active="active" ui-sref="tab.order({status:'3'})" class="col active">进行中 {{procCount}} </li>

            <li nav-transition="ios" nav-direction="enter" ui-sref-active="active" ui-sref="tab.order({status:'4'})" class="col active">已完成 {{canCount}} </li>
            <li nav-transition="ios" nav-direction="enter" ui-sref-active="active" ui-sref="tab.order({status:'2'})" class="col active">
                已取消{{compCount}} </li>
        </ul>

        <div class="text-center gap-50" ng-if="vm.dele.isLoading">
            <h4 class="text-gray">数据加载中...</h4>
        </div>
        <div class="text-center gap-50" ng-if="!vm.dele.isLoading && vm.list.length==0 && vm.query.status=='all'">
            <h4 class="text-gray">当前暂无订单</h4>
            <h4 class="text-gray gap-5">您可以通过去下单商品添加订单</h4>
        </div>
       
        <div class="text-center gap-50" ng-if="!vm.dele.isLoading && vm.list.length<=0 && vm.query.status=='1'">
            <h4 class="text-gray">当前暂无待支付订单</h4>
            <h4 class="text-gray gap-5">您可以通过去下单商品添加订单</h4>
        </div>
        <div class="text-center gap-50" ng-if="!vm.dele.isLoading && vm.list.length<=0 && vm.query.status=='3'">
            <h4 class="text-gray">当前暂无运输中订单</h4>
            <h4 class="text-gray gap-5">您可以通过去下单商品添加订单</h4>
           
        </div>
        <div class="text-center gap-50" ng-if="!vm.dele.isLoading && vm.list.length<=0 && vm.query.status=='4'">
            <h4 class="text-gray">当前暂无已完成订单</h4>
            <h4 class="text-gray gap-5">您可以通过去下单商品添加订单</h4>
            
        </div>
        <div class="text-center gap-50" ng-if="!vm.dele.isLoading && vm.list.length<=0 && vm.query.status=='2'">
            <h4 class="text-gray">当前暂无已取消订单</h4>
             <h4 class="text-gray gap-5">您可以通过去下单商品添加订单</h4>
        </div>
    

        <ion-list class="list slide-top item-order-list" ng-repeat="item in vm.list track by $index" >
             <div ng-class="{'gap-10':!$first}"></div>
            <ion-item ui-sref='tab.orderDetails({id:item.order_id})'>
                <h3>
                    <span>{{item.add_time}}</span>
                    <span class="pull-right text-red bold">{{item.order_status | orderstatus}}</span>
                </h3>
                <div class="row">
                    <div class="col col-25">
                        <span>
                            <img style='width:100%;height:86px' ng-src="{{$root.imgUrl + item.goods_log}}" alt="">
                        </span>
                    </div>
                    <div class='col col-75 gap-left-10 pos-father pa-top-8'>
                        <h4>{{item.goods_introduce}}</h4>
                        <p class="pos-moddle"> <span>X {{item.goods_number}}</span>&nbsp&nbsp&nbsp<span class="pull-right">单价:￥{{item.order_price}}</span></p>

                        <span class="pos-bot">名称：{{item.goods_name}}</span>
                    </div>
                </div>
                <h3 class="padding-5" ng-if='vm.query.status==1'><span class="pull-right">立即支付:<span class="text-red bold">{{(item.order_price * item.goods_number) | currency:'￥'}}</span></span>
                <h3 class="padding-5" ng-if='vm.query.status==2'><span class="pull-right">已取消支付:<span class="text-red bold">{{(item.order_price * item.goods_number) | currency:'￥'}}</span></span>
                <!-- <h3 class="padding-5" ng-if='vm.query.status==2'><span class="pull-right">已取消支付:<span class="text-red bold">{{(item.order_price * item.goods_number) | currency:'￥'}}</span></span> -->
                <h3 class="padding-5" ng-if='vm.query.status>2'><span class="pull-right">已支付:<span class="text-red bold">{{(item.order_price * item.goods_number) | currency:'￥'}}</span></span>
                </h3>
                <ion-option-button class="button-positive" ng-click="vm.deleOrder(item.order_id,$index)">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>
        </div>
        <ion-infinite-scroll ng-if='vm.hasMore' icon="ion-loading-c" immediate-check="false" on-infinite="vm.loadMore()"> </ion-infinite-scroll>
    </ion-content>
</ion-view>