<ion-view view-title="找回密码">
	<ion-content>
		<div class="bg-white item-login">
			<form name="frm_findPassword">
				<div class="list">
					<!--手机号-->
					<li class="item item-input item-icon-left">
						<i class="icon ion-iphone"></i>
						<input class="font-col" name="phone" type="tel"
							   autofocus="autofocus"
							   ng-model="vm.data.phone"
							   placeholder="输入手机号"
							   maxlength="11"
							   phone-check
							   find-password="true"
							   ng-pattern="/(^13[0-9]{9}$)|(^15[0-9]{9}$)|(^17[0-9]{9}$)|(^18[012356789][0-9]{8}$)/"
						>
						<button ng-click="vm.getCode()" ng-disabled="vm.isDisabled" class="button button-small button-assertive">
							{{vm.btn_text}}
						</button>
					</li>
					<div class="form-error" ng-messages="frm_findPassword.phone.$dirty&&frm_findPassword.phone.$error">
						<!--<div ng-message="required">手机号不能为空</div>-->
						<div ng-message="pattern">请输入11位手机号码</div>
						<div ng-message="phone">手机号码未注册</div>
					</div>
					<!--验证码-->
					<li class="item item-input item-icon-left">
						<i class="icon"><img src="./img/common/code.png" class="code"></i>
						<input class="font-col" name="verifyNum"
							   type="tel"
							   ng-model="vm.data.verifyNum"
							   placeholder="输入验证码"
							   ng-pattern="/^[0-9]{6}$/"
							   maxlength="6"
						>
					</li>
					<div class="form-error" ng-messages="frm_findPassword.verifyNum.$dirty&&frm_findPassword.verifyNum.$error">
						<!--<div ng-message="required">验证码不能为空</div>-->
						<div ng-message="pattern">请输入6位验证码数字</div>
					</div>
					<!--密码设置-->
					 <!--密码-->
          <li class="item item-input item-icon-left">
            <i class="icon ion-key"></i>
            <input class="font-col" type="password" name="password" id="one" required ng-model="vm.data.newpwdone" placeholder="输入您的密码"
              maxlength="13" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,13}$/">
          </li>
          <div class="form-error" ng-messages="frm_findPassword.password.$dirty&&frm_findPassword.password.$error">
            <div ng-message="pattern">请输入6-13个字母和数字</div>
          </div>
          <!--再次确认密码-->
          <li class=" item-input item-icon-left">
            <i class="icon ion-key"></i>
            <input class="font-col" type="password" name="password-two" id="two" required ng-model="vm.data.newpwdtwo" placeholder="请再次确认你的密码"
              maxlength="13" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,13}$/">
          </li>
				</div>
				<div class="clear"></div>
				<button class="button button-block button-stable" ng-disabled="frm_findPassword.$invalid" ng-click="vm.next()">
					重置密码
				</button>
			</form>

		</div>
	</ion-content>
</ion-view>