<ion-view view-title="日升昌用户注册协议">
	<!--<ion-nav-buttons side="left">
		<i class="icon ion-ios-arrow-back" ng-click="rootGoBack()"></i>
	</ion-nav-buttons>-->
    <ion-content>
		<div class="list-inset gap-20">
			<h3>1.注册与账户</h3>
			<h3>2.平台认证</h3>
			<h3>3.认证企业之间的操作规则</h3>
			<h3>4.平台使用规范</h3>
			<h3>5.协议的变更与终止</h3>
			<h3>6.其他约定</h3>
		</div>
		<div class="list-inset gap-20">
			<h3 class="gap-10">1.注册与账户</h3>
			<h4 class="gap-5">1.1 日升昌大宗商品交易平台（以下简称“平台”）为北京日升昌互联科技有限公司运营的、采用B2B形式的电子商务平台，主要提供煤炭、钢材等大宗产品交易服务，以及与交易相关的生产管理服务、仓储管理服务、物流服务、金融服务等。为大宗商品贸易企业互联网+升级提供系统解决方案。平台的各项电子服务的所有权和运作权归北京日升昌互联科技有限公司所有。</h4>
		    <h4 class="gap-5">1.2 非平台注册用户可以游客身份浏览权限允许内的信息，不能使用平台功能；平台注册用户可以浏览平台全部公开信息，能够使用对应权限内的全部功能。</h4>
		    <h4 class="gap-5">1.3 平台注册用户应为依据中华人民共和国大陆法律成立的企业法人或其他组织，具备从事煤炭、钢材等大宗产品贸易的相关资质。</h4>
		    <h4 class="gap-5">1.4 用户应当在使用平台服务之前认真阅读本协议全部内容。如用户对协议有任何疑问，应向日升昌大宗商品交易平台咨询。但无论用户事实上是否在使用平台服务之前认真阅读了本协议内容，只要用户使用平台服务，则本协议即对用户产生约束，届时用户不应以未阅读本协议的内容或者未获得平台对用户问询的解答等理由，主张本协议无效，或要求撤销本协议。</h4>
		    <h4 class="gap-5">1.5 平台拥有平台网站各项电子服务的所有权和运作权。用户同意所有注册协议条款并完成注册程序，才能成为平台的正式用户。用户应自行诚信向平台提供注册资料，确保提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且平台保留终止用户使用平台各项服务的权利。</h4>
		    <h4 class="gap-5">1.6 用户点击”同意并接受用户注册协议”并登录的，即视为用户确认自己具有享受平台服务、从事煤炭、钢材交易等相应的权利能力和行为能力，能够独立承担法律责任。如果用户不同意本协议的约定，用户应立即停止注册程序或停止使用平台服务。</h4>
		    <h4 class="gap-5">1.7 用户注册成功后，将产生用户名和密码等账户信息，用户可以根据平台规定改变用户的密码。用户应谨慎合理的保存、使用其用户名和密码。用户不得将在平台注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。如果发现任何人不当使用用户的账户或有任何其他可能危及用户的账户安全的情形时，用户应当立即以有效方式通知平台，要求平台暂停相关服务。</h4>
		    <h4 class="gap-5">1.8 平台为每个企业用户开设了管理员账户和各部门子账户。每个部门子账号都有与该部门职权对应的权限，管理员具备各个部门子账号的所有权限。管理员拥有子账号增设和关闭的权限。企业用户需对账号妥善保管和应用，由于使用不当二而成的损失平台不担负任何责任。</h4>
			<h3 class="gap-10">2.平台认证</h3>
			<h4 class="gap-5">2.1在完成注册以后，平台还需要对您的企业进行资质认证。你需要按要求提交企业资格证照，并在通过平台审核后，才能进行信息发布和报价等操作，未经过平台认证的注册用户不能执行此类操作</h4>
			<h4 class="gap-5">2.2 平台的认证企业之间可以相互认证。企业用户在相互认证以后，享有如下权益：</h4>
			<h4 class="gap-5">2.2.1 企业可以向其相互认证的企业申请一定应付账款交易信用额度。此额度可用于授信方与被授信方的后付款交易。</h4>
			<h4 class="gap-5">2.2.2 企业可以向其相互认证的企业申请一定额度的信用担保。此担保可用于企业用户与任何其他企业用户之间的后付款交易。</h4>
			<h4 class="gap-5">2.3 相互认证企业之间的授信属于用户自愿行为，该行为产生的任何结果与平台无关。</h4>
			<h3 class="gap-10">3.平台认证企业之间的操作</h3>
			<h4 class="gap-5">3.1 企业互相关注</h4>
			<h4 class="gap-5">3.1.1企业互相关注由个人关注企业完成</h4>
			<h4 class="gap-5">1、企业某角色关注其他企业某角色；个人关注企业时，选择是否向管理员推荐成为合作伙伴；个人关注企业后，可以实现选择目标企业发布消息；</h4>
			<h4 class="gap-5">2、个人关系建立在关注这个层面；企业之间的关系是优秀合作伙伴（详见供应商及合作伙伴分级规则）；平台审核认证企业；</h4>
			<h4 class="gap-5">3、由企业管理员发送成为优秀合作伙伴的邀约，平台发布该企业成为优秀合作伙伴专场通告；</h4>
			<h4 class="gap-5">3.2 买方企业授予卖方合格供应商、优秀供应商称号</h4>
			<h4 class="gap-5">3.3 卖方企业授予买方优秀供应商称号</h4>
			<h4 class="gap-5">3.2与3.3 详见《供应商及合作伙伴分级规则》</h4>
			<h4 class="gap-5">3.4 平台认证企业在平台交易时遵从平台交易规则</h4>
			<h4 class="gap-5">3.4 详见《买卖交易规则》</h4>
			<h4 class="gap-5">3.5 平台认证物流企业与平台其他认证企业交易时遵从平台交易规则</h4>
			<h4 class="gap-5">3.5 详见《物流交易规则》</h4>
			<h4 class="gap-5">3.6 平台认证企业适用授信应付账款</h4>
			<h4 class="gap-5">3.6 详见《授信应付账款交易协议》</h4>
			<h3 class="gap-10">4.平台使用规范</h3>		 
			<h4 class="gap-5">4.1.在日升昌大宗商品交易平台上使用各项服务过程中，您承诺遵守以下约定：</h4>
			<h4 class="gap-5">4.1.1 在使用日升昌大宗商品交易平台服务过程中实施的所有行为均遵守国家法律、法规等规范性文件及上海钢铁交易中心平台各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责任，并确保日升昌大宗商品交易平台免于因此产生任何损失。</h4>
			<h4 class="gap-5">4.1.2 在交易过程中，遵守诚实信用原则，不采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。</h4>
			<h4 class="gap-5">4.1.3 不对日升昌大宗商品交易平台上的任何数据作商业性利用，包括但不限于在未经日升昌大宗商品交易平台事先书面同意的情况下，以复制、传播等任何方式使用日升昌大宗商品交易平台上展示的资料。</h4>
			<h4 class="gap-5">4.1.4不使用任何装置、软件或例行程序干预或试图干预日升昌大宗商品交易平台的正常运作或正在日升昌大宗商品交易平台上进行的任何交易、活动。您不得采取任何将导致不合理的庞大数据负载加诸日升昌大宗商品交易平台网络设备的行动。</h4>
			<h4 class="gap-5">4.2.您了解并同意：</h4>
			<h4 class="gap-5">4.2.1 日升昌大宗商品交易平台有权对您是否违反上述承诺做出单方认定，并根据单方认定结果适用规则予以处理或终止向您提供服务，且无须征得您的同意或提前通知予您。</h4>
			<h4 class="gap-5">4.2.2 基于维护平台交易秩序及交易安全的需要，平台有权在发生恶意购买等扰乱市场正常交易秩序的情形下，执行关闭相应交易订单等操作。</h4>
			<h4 class="gap-5">4.2.3 经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者平台根据自身的判断，认为您的行为涉嫌违反本协议的条款或涉嫌违反法律法规的规定，则平台有权在本平台上公示您的该等涉嫌违法或违约行为及平台已对您采取的措施。</h4>
			<h4 class="gap-5">4.2.4对于您在平台上实施的行为，包括您未在平台上实施但已经对平台及其用户产生影响的行为，日升昌大宗商品交易平台有权单方认定您行为的性质及是否构成对本协议的违反，并据此作出相应处罚。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据而承担的不利后果。</h4>
			<h4 class="gap-5">4.2.5 对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保平台免于因此产生损失或增加费用。</h4>
			<h4 class="gap-5">4.2.6 如您涉嫌违反有关法律或者本协议之规定，使平台因此遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿平台因此造成的损失及（或）发生的费用，包括合理的律师费用。</h4>
			<h4 class="gap-5">4.2.7 本平台上的商品价格、数量、是否有货等商品信息随时都有可能发生变动，本平台不作特别通知。由于网站上商品信息的数量极其庞大，虽然本平台会尽最大努力保证您所浏览商品信息的准确性，但由于众所周知的互联网技术因素等客观原因存在，本站网页显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解。</h4>		            
			<h3 class="gap-10">5.协议变更与终止</h3>
			<h4 class="gap-5">5.1 平台有权根据需要不时地制订、修改本协议及平台各项规则，制订、修改完成后，用户第一次登陆平台时，制订、修改的协议和规则将自动弹出并提示用户。如用户不同意相关变更，应当立即停止使用平台服务。用户继续使用平台服务的，即表示用户接受经修订的协议和规则。</h4>
			<h4 class="gap-5">5.2您同意，平台有权自行全权决定以任何理由中止、终止向您提供部分或全部平台服务，暂时冻结或永久冻结（注销）您的账户，且无须为此向您承担任何责任。</h4>
			<h4 class="gap-5">5.3出现以下情况时，平台有权直接以注销账户的方式终止本协议:</h4>
			<h4 class="gap-5">5.3.1平台终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为平台用户的；</h4>
			<h4 class="gap-5">5.3.2您注册信息中的主要内容不真实或不准确或不及时或不完整；</h4>
			<h4 class="gap-5">5.3.3本协议变更时，您明示并通知日升昌大宗商品交易平台不愿接受新的服务协议的；</h4>
			<h4 class="gap-5">5.3.4其它平台认为应当终止服务的情况。</h4>
			<h4 class="gap-5">5.4您有权向平台要求注销您的账户，经平台审核同意的，平台将注销（永久冻结）您的账户，届时，您与平台基于本协议的合同关系即终止。您的账户被注销（永久冻结）后，平台没有义务为您保留或向您披露您账户中的任何信息。</h4>
			<h4 class="gap-5">5.5 您同意，您与平台的合同关系终止后，日升昌大宗商品交易平台仍享有下列权利：</h4>
			<h4 class="gap-5">5.5.1 继续保存您的注册信息及您使用平台服务期间的所有交易信息。</h4>
			<h4 class="gap-5">5.5.2 您在使用平台服务期间存在违法行为或违反本协议的行为，平台仍可依据本协议向您主张权利。</h4>
			<h4 class="gap-5">5.6平台中止或终止向您提供平台服务后，对于您在服务中止或终止之前的交易行为依下列原则处理，您应独力处理并完全承担进行以下处理所产生的任何争议、损失或增加的任何费用，并应确保平台免于因此产生任何损失或承担任何费用：</h4>
			<h4 class="gap-5">5.6.1您在服务中止或终止之前已经上传至平台的物品尚未交易的，平台有权在中止或终止服务的同时删除此项物品的相关信息；</h4>
			<h4 class="gap-5">5.6.2 您在服务中止或终止之前已经达成买卖合同，但合同尚未实际履行的，平台有权删除该买卖合同及其交易物品的相关信息。</h4>                                    
			<h3 class="gap-10">6.其他约定</h3>
			<h4 class="gap-5">6.1 本规则的订立、解释、履行及效力均受中华人民共和国大陆地区法律管辖。如发生本规则条款与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其他有效条款继续有效。</h4>
			<h4 class="gap-5">6.2 如用户就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向北京日升昌互联科技有限公司工商注册地法院提起诉讼。</h4>
			<h4 class="gap-5">6.3 本规则自用户点击“完成注册”即生效，本协议最终由北京日升昌互联科技有限公司解释。</h4>		      
		</div>
	</ion-content>
</ion-view>