.img_box {
  width: 100%;
  display: inline-block;
}
.icon_box {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.icon_bg {
  background: url('../img/xn/first/yuandian.png') center center;
  background-size: 97% 115%;
  margin: 5px 0 5px 0;
}

.icon_box img {
padding: 12px;
width: 100%;
display: inline-block;
}
.xn-first .icon_bg {
  background-size: 88% 101%;
}

.xn-first .icon_box img {
padding: 28px;
}
.icon_bg img {
  width: 80%;
}
.img_box img {
  width: 100%;
  vertical-align:middle;  
}
.item_box h4 {
  text-align: center;
  font-weight: 500;
}
.img_box h3 {
  font-weight: 600;

}

.item_box .gap-10{
  margin-bottom: 10px;
}
.item_box .img_icon {
  width: 25px;
  float: left;
}
.item_box h3 span {
  /*float: left;*/
  margin-left:6px;
  height: 25px;
  line-height: 25px;
}

.bar.bar-stable-menu {
  background-color: #f0f0f0;
}
.bar-stable-menu .button.button-clear{
    font-size: 14px;
    color: #8B572A;
    font-weight: normal;
    border-color: transparent;
    background: none;
    box-shadow: none;
}
.row .col-height {
  height: 100%;
}
.item{
  text-overflow:clip;
}
ion-content .row-height , ion-content .scroll {
  height: 100%;
}
.row .col-color {
  background-color: #f0f0f0;
  height: 100%;
  padding: 8px;
}
.link.item {
  /*background-color: #f0f0f0;*/
  color:red;
  font-weight: 500;
}
.item-padding {
  padding-left: 0;
  padding-right: 0;
}
.item-padding-none {
  padding: 0;
}
.row + .item-padding-10{
  padding: 10px;
  margin-top: 0px;
}
.item-padding-10{
  padding: 10px;
}
.row-border {
  border-top:1px solid red;
   border-bottom:1px solid red; 
}
.row-padding-bot{
  padding-bottom: 8px;
}
.col-border-left {
  border-left: 1px solid #ddd;
}

.train-box span{
    display:inline-block;
    width:100%;
    text-align: center;
    color:pink;
}
.login_box {
  width: 100%;
  height: 165px;
  background:url('../img/xn/bg-login.jpg') center center;
  background-size: 100% 100%;
}
.login-img {
  width: 100%;
  height: 105px;
  position: relative;
  
}
.login-img .cirle {
  width: 76px;
  height: 76px;
  border-radius: 38px;
  background-color: #fff;
  position: absolute;
  bottom:10px;
  left:50%;
  margin-left: -38px;
}
.login-img .cirle img {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.login-text {
  width: 100%;
}
.login-text p {
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.login-text p a {
  color:#fff;
  font-size: 17px;
}
.first-bottom .col h4 {
  margin: 5px 0 ;
}
/*我的订单样式*/
.my-order .col.active {
  color:red;
  font-weight: 600;
  border-bottom:2px solid red;
}
/*    
.bar.bar-stable {
  background:#e61b1b;
}
.bar {
   background:#e61b1b;
}*/













/*底部按钮*/
.tab-item .icon img {
  width: 40%;
  height: 90%;
}
.button-foot .col-mar {
  margin: -5px;
}






/*距离、边距、边框的大小公用*/
.padding-none{
  padding:0px;
}
.gap-left-10{
  margin-left: 10px;
}
.gap-left-20{
  margin-left: 20px;
}
.gap-left-30{
  margin-left: 30px;
}
.gap-8{
  margin-top:8px;
}
.gaq-10{
  margin: 10px;
}
.pa-top-5{
  padding-top: 5px;
}
.pa-top-8{
  padding-top: 8px;
}
.pa-top-8 list item:nth-last-child(1){
  border-bottom:1px solid #000;
}
.padding-6 {
  padding: 6px;
}
.pa-btm-5{
  padding-bottom: 5px;
}
.pa-left-10{
  padding-left: 10px;
}
.pa-right-10{
  padding-right: 10px;
}
.pa-left-5{
  padding-left: 5px;
}
.pa-right-5{
  padding-right: 5px;
}
.item .gap-0{
margin: 0px;
}
.border-top-1{
  border-top:1px solid #000;
}
.border-btm-1{
  border-bottom:1px solid #000;
}
.border-right-1{
  border-right:1px solid #c2b4b4;
}
.pull-right {
  float: right;
}
.small-font {
  font-size: 12px;
}
.padding-5{
  padding: 5px;
}
.gbp-5 {
  margin-bottom: 5px;
}
.border-bot-right {
  border-bottom:1px solid #c2b4b4;
  border-right:1px solid #c2b4b4;
}
.border-bot-first {
  border-bottom:1px solid #c2b4b4;
}
.pos-father{
  position: relative;
}
.pos-bot {
  position: absolute;
  bottom:0;
}
.pos-bot-43 {
  position: absolute;
  bottom:43px;
}
.pos-bot-40 {
  position: fixed;
  bottom:-500px;
}
.pos-moddle{
  position: absolute;
  top:35%;
}
.text-bold {
  font-weight: 600;
}
.text-small {
  font-size: 14px;
}


/*业务特殊需求*/
.text-space p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.row-wrap .list.card {
  margin-bottom: 1px;
}
/*分类的图片大小*/
.menu-item img {
  /*width:50px;*/
  height: 75px;
}
.shopMall img {
  width: 75px;
  height: 75px;
}

/*两行省略...*/
.item .text-line-2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    white-space: normal
}

/*单行省略...*/
.line-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*弹框去掉标题*/
.popup .popup-title {
  display: none;
}
.popup .popup-head {
    padding: 5px 10px;
    border-bottom: 0;
} 
.popup .popup-body {
  text-align: center;
}
.bg-modal{
  background: rgba(0, 0, 0,0.4);
}

p.text-redd {
  color:red;
}

.text-white {
  color: #fff;
}

.border-col .col {
  border: 1px solid #ccc;
  margin: 5px 10px;
  padding: 5px;
}
.box-span {
    display: inline-block;
    margin: 0 0 35px 50px;
}
.user-icon img {
  width: 40px;
  height: 40px;
  border-radius:50%;
}


/*购物车的加减*/
.driver-input input {
    width: 35px;
    background: #f4f4f4;
    height: 25px;
    border-radius: 2px;
    margin: 0 5px;
    text-align: center;
    line-height: 25px;
}
.driver-input img {
    width: 25px;
    height: 25px;
}
/*货源详情选择*/
.border-col .active {
  border-color: red;
  color: red;
}

/*动态导航*/
.condition_col {
  width: 60px;
  text-align: center;
  display: inline-block;
}
.condition_col.active{
  color:red;
  font-weight: 600;
}
/*评价星星处理*/
.appraise-start{
  font-size: 25px;
}

/*重置ionic样式*/
.item p {
  font-size: 14px;
}
.item-car {
  border-width:0px;
}
.item-thumbnail-left {
    padding-left: 100px;
}
.item .gap-left-30 {
  margin-left: 30px;
}
.item-zhi .checkbox{
  right:25px;
}
.item-car .checkbox{
  left:-7px;
}
.car .item-button-right {
  padding-right: 25px;
}
.genderRadio .item {
  border-width:0;
}
.item-order-list .item-content {
  padding: 16px;
}
/*不省略*/
.item .warp {
  white-space: normal;
}